%NGO {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        font-weight: bold;
        list-style: none;
        border: 1px;
        margin: 20px;
        padding: 20px;
}

$bcolor-circe:white;
$bcolor-wwf:blue;
$bcolor-lilo:green;
$bcolor-ss:black;
$bcolor-own:tomato;

$color-circe:black;
$color-wwf:white;
$color-lilo:yellow;
$color-ss:white;
$color-own:blue;


.li-circe ,   .box.circe {
    @extend %NGO;
    background-color: $bcolor-circe;
    color: $color-circe;
    p{font-size: larger;}
}

.li-wwf, .box.wwf {
    @extend %NGO;
    background-color: $bcolor-wwf;
    color: $color-wwf;
}
.li-lilo, .box.lilo {
    @extend %NGO;
    background-color: $bcolor-lilo;
    color: $color-lilo;
}
.li-ss , .box.ss{
    @extend %NGO;
    background-color: $bcolor-ss;
    color: $color-ss;
}
.li-own , .box.own{
    @extend %NGO;
    background-color: $bcolor-own;
    color: $color-own;
}

